# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# VSCode
.vscode/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Expo cache
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android/iOS build folders
android/
ios/
build/

# Metro
.metro-health-check*

# Metro cache
.metro-cache/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# npm/yarn cache
.cache/

# macOS
.DS_Store
*.pem

# local env files

# local env files
.env*.local
# typescript
.env

# Misc
*.log
*.tmp
*.swp
*.swo
*.bak


# typescript
*.tsbuildinfo
